<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yy.dao.OrdersMapper">

    <select id="getNewspaperByUserId" parameterType="int" resultType="Newspaper">
        select N.* from orders as O,newspaper as N where user_id=#{user_id} and news_id=N.id order by N.id;
    </select>

    <select id="getAllUsers" resultType="int">
        select distinct user_id from orders order by user_id;
    </select>
</mapper>